@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

nav li {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

header nav ul li {
  display: inline-block;

  border: 10px solid;
  border-radius: 50px;

  width: 241px;
  height: 77px;

  margin-right: 145px;
  background-color: blueviolet;
}